# React Native

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Environment files
.env
.env.*.local

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# iOS
ios/Pods/
ios/*.xcworkspace
ios/build/
*.xcodeproj/*
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate
*.xcuserdatad

# Android
android/.gradle/
android/app/build/
android/build/
*.keystore
*.jks
*.p8
*.p12
*.key

# Metro
.metro-cache/
.metro-health-check/

# TypeScript
*.tsbuildinfo

# Misc
*.orig.*
*.log
*.pem
*.mobileprovision

# Example files
app-example
